@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        When I Know, you'll know.
    </p>

    <p>
        I'm Still Not sure.
    </p>

    <p>
        Check Back with me soon.
    </p>
</article>

<aside>
    <h3>Looking Right...</h3>
    <p>
        You'll see a nearly useless Menu... cause it's already up at the top.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>