@model AdBase3.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmpId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelExt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelExt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FaxNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FaxNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastChanged)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastChanged)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
