@model IEnumerable<AdBase3.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>

<p>
    <button  type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "Employee")';return false;">Create New</button>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelExt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        @* <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.LastChanged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNo)
            </td>
            @*    <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <div class="btn-group btn-group-justified">
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id}, new {@class="button type=btn btn-default"})*@
                    <button  type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Employee",  new { id = item.Id})';return false;">Edit</button>
                    <button onclick="location.href='@Url.Action("Details", "Employee",  new { id = item.Id})';return false;" type="button" class="btn btn-default">Details</button>
                    <button onclick="location.href='@Url.Action("Delete", "Employee",  new { id = item.Id})';return false;" type="button" class="btn btn-default">Details</button>
                                
                </div>
            </td>
        </tr>
    }

</table>
