@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
    <li>
        <li>@Html.ActionLink("Logout " + User.Identity.Name, "logoff", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        @* @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="logout">Log off</a>
        }*@
    </li>
}
else
{
@*<ul>*@
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
@*</ul>*@
}
